.button{
    height: 35px;
    width: 150px;
    background-color: transparent;
    margin: 0;
    border: none;
    font-family:  'Playfair Display',  serif;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.131); 
    border-radius: 5px;
   
}