.tag {
    border-radius: 15px;
    background-color:  #40413e41;
    width: fit-content;
    height: 15px;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center;
    &_text {
        font-size: 10px;
        margin: 0;
    }
}