@import url('../component/Header/Header.scss');
@import url('../component/Welcome/Welcome.scss');
@import url('../component/Timeline/Timeline.scss');
@import url('../component/Card/Card.scss');
@import url('../component/SlideShow/Slider.scss');
@import url('../component/Button/Button.scss');
@import url('../component/Burger_button/Burger_button.scss');
@import url('../component/Modal_nav/Modal_nav.scss');
@import url('../component//Modal_project/Modal_project.scss');
@import url('../component/Tag/Tag.scss');
@import url('../component/Techno/Techno.scss');
@import url('../component/Techno/TechnoCard/TechnoCard.scss');

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* .css-selector {
  background: linear-gradient(37deg, #246655, #fff8ed);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
} */

@-webkit-keyframes AnimationName {
  0%{background-position:66% 0%}
  50%{background-position:35% 100%}
  100%{background-position:66% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:66% 0%}
  50%{background-position:35% 100%}
  100%{background-position:66% 0%}
}
@keyframes AnimationName {
  0%{background-position:66% 0%}
  50%{background-position:35% 100%}
  100%{background-position:66% 0%}
}

#root, html, body {
    margin: 0;
    padding: 0;
    font-family:  'Playfair Display',  serif;

  }

  body {
/*      background-color: /* rgb(255, 255, 255)  white;  */


/* background-image: linear-gradient(62deg, #fff8ed 0%, #ffffff 50%); */
/* background-color: #eef5e6;
background-image: linear-gradient(0deg, #eef5e6 0%, #fff8ed 50%, #ffffff 100%); */
/* background-color: #eef5e6; */




    /* background-color: #eef5e6; */

     color: #42463d;  /*   #280a0b */
  }

  #root {
    --swiper-theme-color: #280a0b ;
     --swiper-navigation-size: 30px; 

}

  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  