.header { 
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 150;
    

    &_contenant {
        height: 100px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }

    &_title {
        color: black;
    }
 
}
