.slider {
    border: solid;
}

.card_content { 
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 300px;
}
.swipper_contenant {
    margin-top: 25px;

   /*  height: 300px; */
  
}